<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="fun.qxfly.mapper.User.LoginMapper">
    <select id="login" resultType="fun.qxfly.common.domain.entity.User">
        select * from user
        <where>
            <if test="phone == null">
                username = #{username}
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
            and password = #{password}
        </where>

    </select>
</mapper>