<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="fun.qxfly.mapper.User.UserInfoMapper">
    <!--更新用户信息-->
    <update id="updateUserInfo" parameterType="fun.qxfly.common.domain.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null &amp;&amp; password != ''">
                password = #{password},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null &amp;&amp; phone != ''">
                phone = #{phone},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="birthday != null">
                birthday = #{birthday}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--根据uid获取用户信息-->
    <select id="getUserInfo" resultType="fun.qxfly.common.domain.entity.User">
        SELECT u.* ,uc.Articles, uc.Tags, uc.Likes, uc.Collection FROM user u join user_card uc on uc.id = u.id WHERE u.id = #{uid}


    </select>
    <!--获取文章、点赞、收藏、浏览数-->
    <select id="getArticleCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `article` a
        where a.authorId = #{id}
          and a.verify = 3
    </select>
    <select id="getLikeCount" resultType="java.lang.Integer">
        SELECT SUM(a.likes)
        FROM `article` a
        where a.authorId = #{id}
    </select>
    <select id="getCollectionCount" resultType="java.lang.Integer">
        SELECT count(uc.uid)
        FROM user_collection uc
        where uc.uid = #{id}
    </select>
    <select id="getViewsCount" resultType="java.lang.Integer">
        SELECT SUM(a.views)
        FROM `article` a
        where a.authorId = #{id}
    </select>
</mapper>