<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="fun.qxfly.mapper.User.UserSettingMapper">
    <!--更新用户设置-->
    <update id="updateUserSettings">
        update user_settings
        <set>
            <if test="bgImgPath != null and bgImgPath != ''">
                bgImgPath = #{bgImgPath},
            </if>
            <if test="bgSwitch != null">
                bgSwitch = #{bgSwitch},
            </if>
            <if test="bgBlur != null">
                bgBlur = #{bgBlur},
            </if>
        </set>
        where uid = #{uid}
    </update>
</mapper>