<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="fun.qxfly.mapper.WorkSpace.WarehouseMapper">
    <!--列出仓库-->
    <select id="listInventory" resultType="fun.qxfly.common.domain.entity.Warehouse">
        select * from warehouse
        <where>
            <if test="name != null &amp;&amp; name != ''">
                name like concat('%',#{name},'%'),
            </if>
            <if test="shelf != null">
                shelf = #{shelf},
            </if>
            <if test="layer != null">
                layer = #{layer},
            </if>
        </where>
    </select>
</mapper>