<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="fun.qxfly.admin.mapper.ArticleCommentManageMapper">
    <resultMap id="com" type="fun.qxfly.common.domain.entity.Comment">
        <id column="id" property="id"/>
        <result column="articleId" property="articleId"/>
        <result column="content" property="content"/>
        <result column="parentCommentId" property="parentCommentId"/>
        <result column="likeCount" property="likeCount"/>
        <result column="createTime" property="createTime"/>
        <result column="toUsername" property="toUsername"/>
        <result column="toUserId" property="toUserId"/>
        <result column="verify" property="verify"/>
        <association property="user" javaType="fun.qxfly.common.domain.entity.User">
            <id column="userId" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>
    <select id="searchArticleComment" resultMap="com">
        select * from comment
        <where>
            <if test="comment.id != null">
                and id = #{comment.id}
            </if>
            <if test="comment.articleId != null">
                and articleId = #{comment.articleId}
            </if>
            <if test="comment.content != null">
                and content like concat('%',#{comment.content},'%')
            </if>
            <if test="comment.parentCommentId != null">
                and parentCommentId = #{comment.parentCommentId}
            </if>
            <if test="comment.user.id != null">
                and userId = #{comment.user.id}
            </if>
            <if test="comment.user.username != null">
                and username like concat('%',#{comment.user.username},'%')
            </if>
            <if test="comment.toUserId != null">
                and toUserId = #{comment.toUserId}
            </if>
            <if test="comment.toUsername != null">
                and toUsername like concat('%',#{comment.toUsername},'%')
            </if>
            <if test="comment.verify != 0">
                and verify = #{comment.verify}
            </if>
            <if test="createTimeStart != null">
                and createTime between #{createTimeStart} and #{createTimeEnd}
            </if>
        </where>
    </select>
</mapper>