<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="fun.qxfly.admin.mapper.NavigationManageMapper">

    <select id="listAdminNavByPage" resultType="fun.qxfly.common.domain.entity.Navigation">
        select * from navigation
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>

    <select id="listAdminNavigations" resultType="fun.qxfly.common.domain.entity.Navigation">
        select * from navigation
        <where>
            <if test="rid == 1">
                (type = 'admin' or type = 'common')
            </if>
            <if test="rid != 1">
                (((type = 'admin' or type = 'common') and role = #{rid}) or ((type = 'admin' or type = 'common') and
                role
                = 0))
            </if>
        </where>
        and parent IS NULL
    </select>
</mapper>